{{!< html-struct}}

<body class="bg-gradient-primary">
  {{{body}}}

  <!-- Partials are common snippets to be used 1 or more pages. -->
  {{> scripts}}

  <!-- A block is placeholder for pieces of content defined in a page. -->
  {{{block 'pageScripts'}}}
</body>